<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <!--<add name="SettingEntities" connectionString="metadata=res://*/Entities.SettingModel.csdl|res://*/Entities.SettingModel.ssdl|res://*/Entities.SettingModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Setting;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
    <add name="SettingEntities" connectionString="metadata=res://*/Entities.SettingModel.csdl|res://*/Entities.SettingModel.ssdl|res://*/Entities.SettingModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MAINSERVER;initial catalog=Setting;persist security info=True;user id=sa;password=admin@123;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" />
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="Gostar.Setting.SL.SettingService">
        
        <endpoint address="http://localhost:1030/SettingService" binding="basicHttpBinding"
          bindingConfiguration="BasicHttpBinding" contract="Gostar.Setting.SC.ISettingService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:1030/SettingService" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <client >
      <!--<endpoint name="MemberService" address="net.tcp://localhost:1020/MemberService" binding="netTcpBinding" contract="Alyatim.Member.SC.IMemberService" bindingConfiguration="netTcpStreaming" />-->
      <!--<endpoint name="MemberService" address="http://mainserver:1021/MemberService.svc" binding="basicHttpBinding" contract="Alyatim.Member.SC.IMemberService" />-->
      <endpoint name="UserManagementService" address="http://mainserver:1011/UserManagementService.svc" binding="basicHttpBinding"  contract="UserManagement.SC.IUserManagementService" bindingConfiguration="BasicHttpBinding"/>
      <!--<endpoint name="UserManagementService" address="http://localhost:1010/UserManagementService" binding="basicHttpBinding" contract="UserManagement.SC.IUserManagementService" bindingConfiguration="BasicHttpBinding" />-->
      <endpoint name="MemberService" address="http://mainserver:1021/MemberService.svc" binding="basicHttpBinding" contract="Alyatim.Member.SC.IMemberService" bindingConfiguration="BasicHttpBinding" />
    </client>
    <bindings>
      
      <basicHttpBinding>
        <binding name="BasicHttpBinding" closeTimeout="00:15:00" openTimeout="00:15:00" receiveTimeout="00:15:00" sendTimeout="00:15:00"  maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="10487760" maxStringContentLength="10487760" maxArrayLength="10487760" maxBytesPerRead="10487760" maxNameTableCharCount="10487760" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>